POSTGRES_DB=ble_sensors
POSTGRES_USER=home_metrics
POSTGRES_PASSWORD=change-me
POSTGRES_BIND_ADDR=127.0.0.1
POSTGRES_PORT=5432

API_BIND_ADDR=0.0.0.0
API_PORT=8080
API_TOKEN=change-me
API_ALLOWED_ORIGINS=http://localhost:8080

TZ=Asia/Tokyo

BLE_ADAPTER=/org/bluez/hci0
BLE_POLL_INTERVAL=2s
SENSORS_FILE=./examples/sensors.json.example

ALERT_WORKER_INTERVAL=1m
ALERT_WORKER_DRY_RUN=true
APNS_KEY_FILE=
APNS_KEY_ID=
APNS_TEAM_ID=
APNS_BUNDLE_ID=

DB_MAINT_REFRESH_LOOKBACK=336h
DB_MAINT_RETAIN_MINUTE=336h
DB_MAINT_INTERVAL=1h

NATURE_REMO_TOKEN=
NATURE_REMO_INTERVAL=60s
NATURE_REMO_DEVICE_KEY=remo-e
NATURE_REMO_LABEL=Nature Remo E
NATURE_REMO_LOCATION=

ECHONET_TARGET_IP=
ECHONET_DEVICE_KEY=echonet-device
ECHONET_LABEL=ECHONET Lite device
ECHONET_LOCATION=
ECHONET_LOCAL_ADDR=:3610
ECHONET_MULTICAST_ADDR=224.0.23.0:3610
ECHONET_POLL_INTERVAL=60s
ECHONET_REQUEST_TIMEOUT=3s

APCUPSD_SERVER=tcp://host.docker.internal:3551
APCUPSD_INTERVAL=60s
APCUPSD_TIMEOUT=5s
APCUPSD_DEVICE_KEY=ups
APCUPSD_LABEL=APC UPS
APCUPSD_LOCATION=
