openapi: 3.1.0
info:
  title: Home Metrics API
  version: 2.0.0
  description: Sensor and energy telemetry API with sensor threshold alert evaluation.
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://metrics.ioslab.jp
security:
  - bearerAuth: []
  - apiToken: []
paths:
  /api/health:
    get:
      operationId: getHealth
      summary: Health check
      security: []
      responses:
        "200":
          description: Database is reachable
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/health/details:
    get:
      operationId: getHealthDetails
      summary: Collector health summary
      responses:
        "200":
          description: Collector summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthDetails"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/devices:
    get:
      operationId: listDevices
      summary: List sensor devices
      responses:
        "200":
          description: Sensor devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Device"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/devices/{mac}/latest:
    get:
      operationId: getDeviceLatest
      summary: Latest sensor values
      parameters:
        - $ref: "#/components/parameters/Mac"
      responses:
        "200":
          description: Latest values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatestSensor"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/devices/{mac}/series:
    get:
      operationId: getDeviceSeries
      summary: Sensor series
      parameters:
        - $ref: "#/components/parameters/Mac"
        - name: metric
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/SensorMetric"
        - name: range
          in: query
          schema:
            $ref: "#/components/schemas/Range"
      responses:
        "200":
          description: Sensor series
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SensorSeries"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/sensor-alert-rules:
    get:
      operationId: listSensorAlertRules
      summary: List sensor threshold rules
      responses:
        "200":
          description: Sensor threshold rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SensorAlertRule"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createSensorAlertRule
      summary: Create a sensor threshold rule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SensorAlertRuleInput"
      responses:
        "201":
          description: Created sensor threshold rule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SensorAlertRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/sensor-alert-rules/{id}:
    put:
      operationId: updateSensorAlertRule
      summary: Replace a sensor threshold rule
      parameters:
        - $ref: "#/components/parameters/AlertRuleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SensorAlertRuleInput"
      responses:
        "200":
          description: Updated sensor threshold rule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SensorAlertRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deleteSensorAlertRule
      summary: Delete a sensor threshold rule
      parameters:
        - $ref: "#/components/parameters/AlertRuleId"
      responses:
        "204":
          description: Rule deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/sensor-alerts:
    get:
      operationId: listSensorAlerts
      summary: List current sensor alert states
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/SensorAlertStatus"
      responses:
        "200":
          description: Current alert states for evaluated rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SensorAlert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/sensor-alert-events:
    get:
      operationId: listSensorAlertEvents
      summary: List sensor alert transition events
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: event_type
          in: query
          schema:
            type: string
            enum: [firing, resolved]
        - name: mac
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        "200":
          description: Alert transition events, newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SensorAlertEvent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/energy/latest:
    get:
      operationId: listEnergyLatest
      summary: Latest energy values
      parameters:
        - name: source
          in: query
          schema:
            type: string
        - name: device_key
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Energy latest readings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EnergyLatest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/energy/series:
    get:
      operationId: getEnergySeries
      summary: Energy series
      parameters:
        - name: source
          in: query
          required: true
          schema:
            type: string
        - name: device_key
          in: query
          required: true
          schema:
            type: string
        - name: metric
          in: query
          required: true
          schema:
            type: string
        - name: range
          in: query
          schema:
            $ref: "#/components/schemas/Range"
      responses:
        "200":
          description: Energy series
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnergySeries"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/admin/collector-status:
    get:
      operationId: listCollectorStatus
      summary: Collector status rows
      responses:
        "200":
          description: Collector status rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CollectorStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/admin/cisco-spaces-firehose:
    get:
      operationId: getCiscoSpacesFirehoseStatus
      summary: Cisco Spaces firehose collector status
      responses:
        "200":
          description: Cisco Spaces firehose status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CiscoSpacesFirehoseStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/admin/schema:
    get:
      operationId: getSchemaStatus
      summary: DB migration status
      responses:
        "200":
          description: Applied migrations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemaStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiToken:
      type: apiKey
      in: header
      name: X-API-Token
  parameters:
    Mac:
      name: mac
      in: path
      required: true
      schema:
        type: string
    AlertRuleId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
  responses:
    BadRequest:
      description: Invalid or missing request parameter
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Requested device, reading, or metric was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: API token is missing or invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Database is unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
    Range:
      type: string
      enum: [1d, 1w, 1m, 3m, 1y]
      default: 1d
    SensorMetric:
      type: string
      enum:
        - temperature_c
        - humidity_percent
        - battery_percent
        - rssi_dbm
        - pressure_hpa
        - co2_ppm
        - lux
        - etvoc
        - soil_moisture_percent
        - conductivity_us_cm
    Device:
      type: object
      required: [mac, label, enabled]
      properties:
        mac:
          type: string
        label:
          type: string
        location:
          type: string
        enabled:
          type: boolean
        ingest_source:
          type: string
          description: Telemetry ingest path, such as cisco_sensor_connect.
        sensor_type_code:
          type: string
          description: Stable sensor model/decoder code.
        sensor_type:
          $ref: "#/components/schemas/SensorType"
        sensor_category:
          type: string
          description: Client-facing category, such as plant or environment.
    SensorType:
      type: object
      required: [code, display_name, category]
      properties:
        code:
          type: string
        display_name:
          type: string
        category:
          type: string
        vendor:
          type: string
        model:
          type: string
    LatestSensor:
      type: object
      required: [device, ts, values]
      properties:
        device:
          $ref: "#/components/schemas/Device"
        ts:
          type: string
          format: date-time
        values:
          type: object
          additionalProperties:
            type:
              - number
              - "null"
        value_timestamps:
          type: object
          description: Measurement timestamp for each metric that has a non-null value.
          additionalProperties:
            type: string
            format: date-time
    SeriesPoint:
      type: object
      required: [ts, value]
      properties:
        ts:
          type: string
          format: date-time
        value:
          type: number
    SensorSeries:
      type: object
      required: [mac, metric, range, points]
      properties:
        mac:
          type: string
        metric:
          $ref: "#/components/schemas/SensorMetric"
        range:
          $ref: "#/components/schemas/Range"
        points:
          type: array
          items:
            $ref: "#/components/schemas/SeriesPoint"
    SensorAlertDirection:
      type: string
      enum: [above, below]
    SensorAlertSeverity:
      type: string
      enum: [info, warning, critical]
    SensorAlertStatus:
      type: string
      enum: [normal, pending, firing]
    SensorAlertEvaluationStatus:
      type: string
      enum: [ok, stale, no_data, disabled]
    SensorAlertRuleInput:
      type: object
      additionalProperties: false
      required:
        - name
        - mac
        - metric
        - direction
        - trigger_threshold
        - clear_threshold
        - for_duration_seconds
        - max_data_age_seconds
        - severity
        - enabled
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        mac:
          type: string
        metric:
          $ref: "#/components/schemas/SensorMetric"
        direction:
          $ref: "#/components/schemas/SensorAlertDirection"
        trigger_threshold:
          type: number
        clear_threshold:
          type: number
          description: Must be below the trigger for above rules and above it for below rules.
        for_duration_seconds:
          type: integer
          minimum: 0
          maximum: 2592000
        max_data_age_seconds:
          type: integer
          minimum: 1
          maximum: 31536000
        severity:
          $ref: "#/components/schemas/SensorAlertSeverity"
        enabled:
          type: boolean
    SensorAlertRule:
      allOf:
        - $ref: "#/components/schemas/SensorAlertRuleInput"
        - type: object
          required: [id, device_label, created_at, updated_at]
          properties:
            id:
              type: integer
              format: int64
            device_label:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
    SensorAlert:
      type: object
      required:
        - rule_id
        - rule_name
        - mac
        - device_label
        - metric
        - severity
        - direction
        - trigger_threshold
        - clear_threshold
        - status
        - evaluation_status
      properties:
        rule_id:
          type: integer
          format: int64
        rule_name:
          type: string
        mac:
          type: string
        device_label:
          type: string
        metric:
          $ref: "#/components/schemas/SensorMetric"
        severity:
          $ref: "#/components/schemas/SensorAlertSeverity"
        direction:
          $ref: "#/components/schemas/SensorAlertDirection"
        trigger_threshold:
          type: number
        clear_threshold:
          type: number
        status:
          $ref: "#/components/schemas/SensorAlertStatus"
        evaluation_status:
          $ref: "#/components/schemas/SensorAlertEvaluationStatus"
        pending_since:
          type: string
          format: date-time
        fired_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
        last_value:
          type: number
        last_value_at:
          type: string
          format: date-time
        last_evaluated_at:
          type: string
          format: date-time
    SensorAlertEvent:
      type: object
      required:
        - id
        - event_type
        - reason
        - rule_name
        - mac
        - metric
        - severity
        - direction
        - trigger_threshold
        - clear_threshold
        - occurred_at
      properties:
        id:
          type: integer
          format: int64
        alert_rule_id:
          type: integer
          format: int64
        event_type:
          type: string
          enum: [firing, resolved]
        reason:
          type: string
          enum: [threshold_crossed, threshold_cleared, rule_disabled, device_disabled]
        rule_name:
          type: string
        mac:
          type: string
        metric:
          $ref: "#/components/schemas/SensorMetric"
        severity:
          $ref: "#/components/schemas/SensorAlertSeverity"
        direction:
          $ref: "#/components/schemas/SensorAlertDirection"
        trigger_threshold:
          type: number
        clear_threshold:
          type: number
        value:
          type: number
        value_at:
          type: string
          format: date-time
        occurred_at:
          type: string
          format: date-time
    EnergyLatest:
      type: object
      required: [ts, source, device_key, metric, value]
      properties:
        ts:
          type: string
          format: date-time
        source:
          type: string
        device_key:
          type: string
        label:
          type: string
        location:
          type: string
        metric:
          type: string
        value:
          type: number
        unit:
          type: string
    EnergySeries:
      type: object
      required: [source, device_key, metric, range, unit, points]
      properties:
        source:
          type: string
        device_key:
          type: string
        metric:
          type: string
        range:
          $ref: "#/components/schemas/Range"
        unit:
          type: string
        points:
          type: array
          items:
            $ref: "#/components/schemas/SeriesPoint"
    HealthDetails:
      type: object
      required: [status, database, collector_targets, stale_collectors]
      properties:
        status:
          type: string
          enum: [ok, degraded]
        database:
          type: string
        collector_targets:
          type: integer
        stale_collectors:
          type: integer
    SchemaMigration:
      type: object
      required: [version, name, checksum, applied_at]
      properties:
        version:
          type: integer
          format: int64
        name:
          type: string
        checksum:
          type: string
        applied_at:
          type: string
          format: date-time
    SchemaStatus:
      type: object
      required: [current_version, migrations]
      properties:
        current_version:
          type: integer
          format: int64
        migrations:
          type: array
          items:
            $ref: "#/components/schemas/SchemaMigration"
    CollectorStatus:
      type: object
      required: [collector_name, target_type, target_key, consecutive_failures, updated_at]
      properties:
        collector_name:
          type: string
        target_type:
          type: string
        target_key:
          type: string
        last_attempt_at:
          type: string
          format: date-time
        last_success_at:
          type: string
          format: date-time
        last_data_at:
          type: string
          format: date-time
        first_failure_at:
          type: string
          format: date-time
        last_failure_at:
          type: string
          format: date-time
        last_error:
          type: string
        consecutive_failures:
          type: integer
        updated_at:
          type: string
          format: date-time
    CiscoSpacesFirehoseStatus:
      type: object
      required:
        - lock_key
        - lock_held
        - mode
        - collector_enabled
        - configured_secondary_allowed
        - collector_status_present
        - collector_reporting
        - consecutive_failures
      properties:
        lock_key:
          type: integer
        lock_held:
          type: boolean
        lock_holder_pid:
          type: integer
        mode:
          type: string
        collector_enabled:
          type: boolean
        configured_secondary_allowed:
          type: boolean
        collector_status_present:
          type: boolean
        collector_reporting:
          type: boolean
        collector_updated_at:
          type: string
          format: date-time
        last_attempt_at:
          type: string
          format: date-time
        last_success_at:
          type: string
          format: date-time
        last_data_at:
          type: string
          format: date-time
        first_failure_at:
          type: string
          format: date-time
        last_failure_at:
          type: string
          format: date-time
        consecutive_failures:
          type: integer
        last_error:
          type: string
